/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1;
  overflow-x: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #333333;
  background-color: black;
  /* prevent ie from showing the horizontal scrollbar */
  overflow-x: hidden; }

a {
  color: #676767;
  text-decoration: none; }

img {
  max-width: 100%; }

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  max-width: 1500px;
  margin: 0 auto; }

.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

.nav-hover-overlay, .page-marquee {
  position: fixed;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 150%;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 100; }
  @media (min-width: 1200px) {
    .nav-hover-overlay, .page-marquee {
      background-position: 0% 17%; } }

.page-marquee {
  opacity: 0.5;
  background-color: transparent;
  background-position: -41% 17%;
  background-size: 120%; }

.contact-btn {
  background-size: 100%; }

.work-btn {
  background-size: 100%; }

.about-btn {
  background-size: 150%; }

nav {
  position: fixed;
  opacity: 0;
  width: 100%;
  border-top: solid 1px black;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 110; }
  nav ul {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: none; }
    nav ul li {
      display: inline-block;
      width: 33%;
      padding: 13px 0;
      text-align: center;
      font-family: 'Cinzel', serif;
      font-size: 32px; }
      nav ul li a:hover {
        color: black; }

#site-intro .introTitleCover {
  position: absolute;
  margin-top: 445px;
  width: 100%;
  height: 100px;
  z-index: 7;
  background-color: black; }
#site-intro .introSubTitleCover {
  position: absolute;
  margin-top: 445px;
  width: 100%;
  height: 100px;
  z-index: 5;
  background-color: black; }
#site-intro .sub-title {
  position: absolute;
  display: none;
  font-size: 30px;
  color: #6b6a6a;
  opacity: 0;
  z-index: 4; }
#site-intro .horizontal-line {
  position: absolute;
  display: none;
  width: 0%;
  height: 2px;
  background-color: white;
  z-index: 8; }
#site-intro .intro-veil {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 3; }

header {
  position: relative;
  display: none;
  padding: 15px 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 102 !important; }

.header-spacer {
  display: none;
  width: 100%;
  height: 80px; }

.siteTitle {
  display: none;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  font-size: 50px;
  color: white;
  text-align: center;
  z-index: 6; }
  .siteTitle a {
    cursor: pointer;
    color: white; }

#home-page {
  position: fixed;
  top: 0;
  margin: 0 auto;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  background-color: white; }

#about {
  position: relative;
  top: 800px;
  width: 100%;
  height: 100vh; }

article.opening-statement {
  margin-top: 18%; }
  article.opening-statement h1 {
    font-family: 'Cinzel', serif;
    font-size: 35px; }
  article.opening-statement h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px; }

/* -------------------------------- 

Home page clip 

-------------------------------- */
.title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center; }
  .title h1 {
    font-size: 2.4rem;
    font-weight: 700; }
  @media only screen and (min-width: 768px) {
    .title {
      line-height: 250px; } }
  @media only screen and (min-width: 1170px) {
    .title {
      height: 200px;
      line-height: 300px; }
      .title h1 {
        font-size: 3rem; } }

.intro {
  width: 90%;
  text-align: center; }

.intro {
  margin: 4em auto; }
  @media only screen and (min-width: 768px) {
    .intro {
      margin: 5em auto; } }
  @media only screen and (min-width: 1170px) {
    .intro {
      margin: 6em auto; } }

.headline {
  font-size: 3rem;
  line-height: 1.2; }
  @media only screen and (min-width: 768px) {
    .headline {
      font-size: 4.4rem;
      font-weight: 300; } }
  @media only screen and (min-width: 1170px) {
    .headline {
      font-size: 6rem; } }

.words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }
  .words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0; }
    .words-wrapper b.is-visible {
      position: relative; }
  .no-js .words-wrapper b {
    opacity: 0; }
    .no-js .words-wrapper b.is-visible {
      opacity: 1; }

.headline.clip span {
  display: inline-block;
  padding: .2em 0; }
.headline.clip .words-wrapper {
  overflow: hidden;
  vertical-align: top; }
  .headline.clip .words-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: gray; }
.headline.clip b {
  opacity: 0; }
  .headline.clip b.is-visible {
    opacity: 1; }

body.overflow-hidden {
  /* when author bio is visible, the out-of-focus content won't scroll */
  overflow: hidden; }

main {
  position: relative;
  z-index: 2;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }

main.slide-out {
  /* the main element slides to the left when the author bio is visible */
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  transform: translateX(-270px); }

main.slide-out .overlay {
  /* the overlay layer gets visible when the author bio slides in */
  display: block;
  -webkit-animation: fade-in 0.3s;
  -moz-animation: fade-in 0.3s;
  animation: fade-in 0.3s; }

@media only screen and (min-width: 768px) {
  main.slide-out {
    /* change in size of the author bio section */
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
    -o-transform: translateX(-600px);
    transform: translateX(-600px); } }
@media only screen and (min-width: 1200px) {
  main.slide-out {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); } }
.section {
  padding: 2em 0;
  text-align: center; }

.section .container {
  /* this modifies the .container default max-width */
  max-width: 768px; }

.section h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.3em; }

.section p {
  line-height: 1.4; }

@media only screen and (min-width: 768px) {
  .section {
    padding: 14em 4em 8em 4em; }

  .section p {
    line-height: 1.6;
    width: 100%;
    max-width: 610px;
    margin: 0 auto 20px auto; } }
@media only screen and (min-width: 1200px) {
  .section {
    padding: 12em 6em 10em 6em; }

  .section h2 {
    margin-bottom: 0.2em; }

  .section p {
    line-height: 1.3;
    font-size: 18px;
    width: 100%;
    color: #797979;
    max-width: 840px;
    font-size: 1.125rem; }
    .section p.about-subtitle {
      color: #6F6F6F;
      max-width: 520px;
      font-style: italic; } }
#about {
  display: none;
  overflow-y: scroll;
  background: #fff;
  -webkit-transform: translateX(16px);
  -moz-transform: translateX(16px);
  transform: translateX(16px); }

#about .container {
  max-width: 1200px; }

#about h2 {
  color: #DCDCDC; }

#about li {
  margin-bottom: 2em;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(92, 75, 81, 0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.no-touch #about li:hover {
  box-shadow: 0 0 10px rgba(92, 75, 81, 0.3); }

.no-touch #about li:hover .img-overlay {
  opacity: 1; }

#about figure {
  position: relative; }

#about img {
  display: block;
  width: 100%;
  border-radius: .25em .25em 0 0; }

#about .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(92, 75, 81, 0.9);
  opacity: 0;
  border-radius: .25em .25em 0 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s; }

#about .img-overlay span {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #FFF; }

#about .member-info {
  height: 80px;
  background: #FFF;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  border-radius: 0 0 .25em .25em; }

#about .member-info span {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #999999;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: .5em; }

summary {
  max-width: 840px;
  margin: 47px auto 70px auto;
  text-align: left; }
  summary h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #7B868C; }

.skillIcons {
  margin-bottom: 25px; }
  .skillIcons figure {
    margin: 15px;
    display: inline-block;
    width: 65px; }
    .skillIcons figure figcaption {
      margin-top: 5px;
      font-size: 12px;
      text-align: center; }
  .skillIcons img {
    width: auto; }

@media only screen and (min-width: 768px) {
  #about li {
    width: 46%;
    max-width: 400px;
    margin: 0 1.5%;
    display: inline-block; } }
.member-bio {
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  overflow-y: auto;
  /* smooth scrolling on mobile phones and tablets */
  -webkit-overflow-scrolling: touch;
  background: #5c4b51;
  z-index: 1;
  /* this how we move the author bio section off the canvas */
  -webkit-transform: translateX(270px);
  -moz-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.member-bio.slide-in {
  /* the author bio section slides in when the user clicks on the team member picture */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.member-bio .member-bio-pict {
  position: relative; }

.member-bio .member-bio-pict::after {
  /* gradient at the bottom of the image - same color of the background of the section */
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: -webkit-linear-gradient(bottom, #5c4b51, rgba(92, 75, 81, 0));
  background: linear-gradient(to top, #5c4b51, rgba(92, 75, 81, 0)); }

.no-cssgradients .member-bio .member-bio-pict::after {
  display: none; }

.member-bio img {
  width: 100%;
  display: block; }

.member-bio .bio-content {
  padding: 1em;
  color: #FFF; }

.member-bio .bio-content h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem; }

.member-bio .bio-content p {
  font-size: 14px;
  font-size: 0.875rem;
  margin: 1em 0;
  line-height: 1.4;
  color: #d7cfd2; }

@media only screen and (min-width: 768px) {
  .member-bio {
    width: 600px;
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px); }

  .member-bio .bio-content {
    padding: 2em; }

  .member-bio .bio-content p {
    line-height: 1.6;
    margin: 2em 0; } }
@media only screen and (min-width: 1200px) {
  .member-bio {
    width: 50%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }

  .member-bio .member-bio-pict::after {
    height: 150px; }

  .member-bio .bio-content {
    padding: 0em 3em;
    /* we move the content up so the title is over the color gradient */
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px); }

  .member-bio .bio-content h2 {
    font-size: 40px;
    font-size: 2.5rem; }

  .member-bio .bio-content h3 {
    font-size: 30px;
    padding-top: 20px; }

  .member-bio .bio-content p {
    font-size: 16px;
    font-size: 1rem; }

  .no-cssgradients .member-bio .bio-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }
.member-bio-close {
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  background: url("../img/icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 3;
  display: none; }

.member-bio-close.is-visible {
  display: block;
  -webkit-animation: move-in 0.8s;
  -moz-animation: move-in 0.8s;
  animation: move-in 0.8s; }

@media only screen and (min-width: 1200px) {
  .member-bio-close {
    right: 20px;
    top: 80px;
    z-index: 101; } }
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000%;
  height: 100vh;
  background: rgba(138, 163, 190, 0.95);
  cursor: pointer;
  display: none;
  z-index: 100; }

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes move-in {
  0% {
    -webkit-transform: translateX(100px); }

  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes move-in {
  0% {
    -moz-transform: translateX(100px); }

  100% {
    -moz-transform: translateX(0); } }
@keyframes move-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
/*
Contact Main
*/
#contact {
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 101;
  width: 100%; }

.contact-inner-container {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 800px;
  background: tan; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

#form-messages {
  position: relative;
  background: url("../img/thankyou-mail.jpg");
  background-repeat: no-repeat;
  background-size: contain; }

#form-messages2 {
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: bold; }

.contact-world .bottom-row-ctas {
  position: relative;
  width: 90%;
  top: 810px;
  margin: 0 auto !important;
  z-index: 0;
  z-index: -1;
  opacity: 0; }

@media (max-width: 1440px) {
  .contact-world .bottom-row-ctas {
    max-width: 1095px; } }
.success {
  margin: 0 auto;
  width: 45%;
  height: 414px;
  top: 270px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #1270bd;
  text-shadow: 0px 0px 3px #FFFFFF;
  line-height: 400px;
  z-index: 1; }

#contact a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  outline: none; }
#contact a:hover, #contact a:focus {
  color: #fff; }

/* Main form wrapper */
.fs-form-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff; }

/* Title */
.fs-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 40px;
  width: 100%; }

.fs-title h1 {
  margin: 0; }

/* Form */
.fs-form {
  position: relative;
  text-align: left;
  font-size: 2.5em; }

.no-js .fs-form {
  padding: 0 0 6em 0; }

/* Views (fullscreen and overview)*/
.fs-form-full {
  top: 32%;
  margin: 0 auto;
  width: 70%; }

@media (max-width: 1450px) {
  .fs-form-full {
    top: 21%; } }
.fs-form-full,
.fs-message-error {
  max-width: 960px; }

.fs-form-overview {
  padding: 7.5em 30% 18em;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #3b3f45;
  font-size: 1.2em;
  overflow-y: scroll; }

.fs-form-overview .fs-fields::before {
  display: block;
  margin-bottom: 2.5em;
  color: #3b3f45;
  content: 'Review & Submit';
  font-weight: 700;
  font-size: 1.85em; }

/* Switch view animation (we hide the current view, switch the view class and show it again) */
.fs-form.fs-show {
  -webkit-animation: animFadeIn 0.5s;
  animation: animFadeIn 0.5s; }

@-webkit-keyframes animFadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes animFadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.fs-form.fs-show .fs-fields {
  -webkit-animation: animMove 0.5s;
  animation: animMove 0.5s; }

@-webkit-keyframes animMove {
  from {
    top: 100px; } }
@keyframes animMove {
  from {
    top: 100px; } }
/* we need to use top here because otherwise all our fixed elements will become absolute */
/* Visibility control of elements */
.fs-form-full .fs-fields > li,
.fs-nav-dots,
.fs-progress,
.fs-numbers,
button.fs-continue,
.fs-message-error,
.fs-message-final {
  visibility: hidden; }

.no-js .fs-form-full .fs-fields > li {
  visibility: visible; }

.fs-show {
  visibility: visible !important; }

/* Some general styles */
.fs-form-wrap button {
  border: none;
  background: none; }

.fs-form-wrap button[disabled] {
  opacity: 0.3;
  pointer-events: none; }

.fs-form-wrap input:focus,
.fs-form-wrap button:focus {
  outline: none; }

/* Hide the submit button */
.fs-form .fs-submit {
  display: none; }

/* Fields */
.fs-fields {
  position: relative;
  margin: 0 auto;
  padding: 0;
  top: 0;
  list-style: none; }

/*.fs-form-overview ol {
	max-width: ;
}*/
.fs-fields > li {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: none; }

.fs-fields > li:hover {
  z-index: 999; }

.js .fs-form-full .fs-fields > li {
  position: absolute;
  width: 100%; }

.fs-form-overview .fs-fields > li,
.no-js .fs-form .fs-fields > li {
  margin: 1em 0 2em;
  padding: 0 0 2em 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); }

/* Labels & info */
.fs-fields > li label {
  position: relative; }

.fs-fields > li label.fs-field-label {
  display: inline-block;
  padding: 0 5px 1em 0;
  font-weight: 700;
  pointer-events: none; }

.fs-form-full .fs-fields > li label[data-info]::after {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  content: 'i';
  vertical-align: top;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 14px;
  font-family: Georgia, serif;
  line-height: 20px;
  cursor: pointer;
  pointer-events: auto; }

.fs-form-full .fs-fields > li label[data-info]::before {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 0 0 10px;
  min-width: 200px;
  content: attr(data-info);
  font-size: 0.4em;
  color: #6a7b7e;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  pointer-events: none; }

.fs-form-full .fs-fields > li label[data-info]:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fs-form-full .fs-fields > li label:hover ~ .fs-info,
.fs-form-full .fs-fields > li .fs-info:hover {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  pointer-events: auto; }

/* Inputs */
.fs-fields input {
  display: block;
  margin: 0;
  padding: 0 0 0.15em;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: #fffed8;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 0; }

.fs-fields input:invalid {
  box-shadow: none;
  /* removes red shadow in FF*/ }

.fs-form-overview .fs-fields input {
  border-bottom-color: transparent;
  color: rgba(0, 0, 0, 0.5); }

.fs-fields [required] {
  background-image: url(../img/abacusstar.svg);
  background-position: top right;
  background-size: 18px;
  background-repeat: no-repeat; }

.fs-fields input:focus {
  background-color: #E2C59E;
  /* Fixes chrome bug with placeholder */ }

.fs-form-overview .fs-fields input:focus {
  background-color: #fffed8;
  /* Fixes chrome bug with placeholder */ }

.fs-form-overview .fs-fields input {
  font-size: 1.2em; }

.fs-fields .fs-radio-custom input[type="radio"] {
  position: absolute;
  display: block;
  margin: 30px auto 20px;
  margin: 0 auto 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer; }

.fs-fields > li .fs-radio-custom span {
  float: left;
  position: relative;
  margin-right: 3%;
  padding: 10px;
  max-width: 200px;
  width: 30%;
  text-align: center;
  font-weight: 700;
  font-size: 50%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.fs-fields > li .fs-radio-custom span label {
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.fs-form-overview .fs-fields > li .fs-radio-custom span {
  max-width: 140px; }

.fs-form-overview .fs-fields > li .fs-radio-custom span {
  font-size: 75%; }

.fs-fields > li .fs-radio-custom label {
  display: block;
  padding-top: 100%;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.fs-fields .fs-radio-custom label::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-position: 50% 0%;
  background-size: 85%;
  background-repeat: no-repeat;
  content: '';
  opacity: 0.2;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.fs-fields .fs-radio-custom label.radio-mobile::after {
  background-image: url(../img/mobile.svg); }

.fs-fields .fs-radio-custom label.radio-social::after {
  background-image: url(../img/social.svg); }

.fs-fields .fs-radio-custom label.radio-conversion::after {
  background-image: url(../img/conversion.svg); }

.fs-fields .fs-radio-custom label:hover::after,
.fs-fields input[type="radio"]:focus + label::after,
.fs-fields input[type="radio"]:checked + label::after {
  opacity: 1; }

.fs-fields .fs-radio-custom input[type="radio"]:checked + label {
  color: #fffed8; }

.fs-form-overview .fs-fields .fs-radio-custom input[type="radio"]:checked + label {
  color: rgba(0, 0, 0, 0.8); }

.fs-fields textarea {
  padding: 0.25em;
  width: 95%;
  height: 200px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: #fffed8;
  font-weight: 700;
  font-size: 0.85em;
  resize: none; }

.fs-form-overview .fs-fields textarea {
  height: 100px;
  color: rgba(0, 0, 0, 0.5); }

.fs-fields textarea:focus {
  outline: none;
  background: #edd1ab; }

.fs-form-overview .fs-fields textarea {
  padding: 0;
  border-color: transparent; }

.fs-form-overview .fs-fields textarea:focus {
  background: #fffed8; }

.fs-form div.cs-select.cs-skin-boxes {
  display: block; }

.fs-form-overview .cs-skin-boxes > span {
  border-radius: 5px;
  width: 90px;
  height: 70px;
  font-size: 0.8em; }

.fs-form-overview .cs-skin-boxes > span::before {
  padding-top: 50px;
  box-shadow: 0 20px 0 #292c30, inset 0 -5px #292c30; }

.fs-fields input.fs-mark {
  padding-left: 1em;
  background-image: url(../img/dollar.svg);
  background-position: 0% 0.15em;
  background-size: auto 75%;
  background-repeat: no-repeat; }

.fs-fields input.fs-mark[required] {
  background-image: url(../img/dollar.svg), url(../img/abacusstar.svg);
  background-position: 0% 0.15em, top right;
  background-size: auto 75%, 18px;
  background-repeat: no-repeat; }

/* placeholder */
.fs-fields input::-webkit-input-placeholder,
.fs-fields textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.1); }

.fs-fields input:-moz-placeholder,
.fs-fields textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.1); }

.fs-fields input::-moz-placeholder,
.fs-fields textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.1); }

.fs-fields input:-ms-input-placeholder,
.fs-fields textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.1); }

/* Hide placeholder when focused in Webkit browsers */
.fs-fields input:focus::-webkit-input-placeholder {
  color: transparent; }

/* Dot navigation */
.fs-nav-dots {
  position: absolute;
  top: 50%;
  right: 60px;
  left: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 1450px) {
  .fs-nav-dots {
    top: 40%; } }
.fs-nav-dots button {
  position: relative;
  display: block;
  padding: 0;
  margin: 16px 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: transparent;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease; }

.fs-nav-dots button::before,
.fs-nav-dots button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  text-indent: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fs-nav-dots button::after {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 180deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 180deg); }

.fs-nav-dots button.fs-dot-current {
  -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 180deg);
  transform: perspective(1000px) rotate3d(0, 1, 0, 180deg); }

.fs-nav-dots button:hover::before,
.fs-nav-dots button.fs-dot-current::before {
  background: #fffed8; }

/* Progress bar */
.fs-progress {
  position: absolute;
  top: 92px;
  width: 0%;
  height: 0.5em;
  background: #FFFED8;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out; }

@media (max-width: 800px) {
  .fs-progress {
    top: 2px; } }
/* Number indicator */
.fs-numbers {
  position: absolute;
  top: 180px;
  right: 0;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.4);
  margin: 40px;
  width: 2em;
  font-weight: 700;
  font-size: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: default; }

.fs-numbers:after {
  position: absolute;
  width: 100%;
  text-align: center;
  content: '/';
  font-weight: 300;
  opacity: 0.4;
  left: 0; }

.fs-numbers span {
  float: right;
  width: 40%;
  text-align: center; }

.fs-numbers .fs-number-current {
  float: left; }

.fs-numbers .fs-number-new {
  position: absolute;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

/* Animations for numbers */
/* Show next number */
.fs-numbers.fs-show-next .fs-number-new {
  -webkit-animation: animMoveUpFromDown 0.4s both;
  animation: animMoveUpFromDown 0.4s both; }

@-webkit-keyframes animMoveUpFromDown {
  from {
    -webkit-transform: translateY(100%); }

  to {
    -webkit-transform: translateY(0); } }
@keyframes animMoveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fs-numbers.fs-show-next .fs-number-current {
  -webkit-animation: animMoveUp 0.4s both;
  animation: animMoveUp 0.4s both; }

@-webkit-keyframes animMoveUp {
  to {
    -webkit-transform: translateY(-100%); } }
@keyframes animMoveUp {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }
/* Show previous number */
.fs-numbers.fs-show-prev .fs-number-new {
  -webkit-animation: animMoveDownFromUp 0.4s both;
  animation: animMoveDownFromUp 0.4s both; }

@-webkit-keyframes animMoveDownFromUp {
  from {
    -webkit-transform: translateY(-100%); }

  to {
    -webkit-transform: translateY(0); } }
@keyframes animMoveDownFromUp {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.fs-numbers.fs-show-prev .fs-number-current {
  -webkit-animation: animMoveDown 0.4s both;
  animation: animMoveDown 0.4s both; }

@-webkit-keyframes animMoveDown {
  to {
    -webkit-transform: translateY(100%); } }
@keyframes animMoveDown {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }
/* Continue button and submit button */
button.fs-submit,
button.fs-continue {
  padding: 0.6em 1.5em;
  border: 3px solid #232529;
  border-radius: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4); }

.fs-form-overview .fs-submit,
.no-js .fs-form .fs-submit {
  display: block;
  float: right; }

.fs-form-overview .fs-submit {
  border-color: #232529;
  color: #232529; }

button.fs-continue {
  position: absolute;
  right: 0;
  bottom: 140px;
  margin: 0 40px 60px 0;
  font-size: 1.25em; }

button.fs-submit:hover,
button.fs-submit:focus,
button.fs-continue:hover {
  background: #232529;
  color: #fff; }

@media (max-width: 1500px) {
  button.fs-continue {
    bottom: 340px; } }
@media (max-width: 1000px) {
  .fs-fields {
    top: -40px; }

  .fs-numbers {
    top: 130px; }

  .fs-nav-dots {
    top: 33%; }

  button.fs-continue {
    bottom: 450px; } }
.fs-continue::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  line-height: 3;
  text-align: center;
  background: transparent;
  color: rgba(0, 0, 0, 0.3);
  content: 'or press ENTER';
  font-size: 0.65em;
  pointer-events: none; }

/* Error message */
.fs-message-error {
  position: absolute;
  bottom: 75%;
  left: 50%;
  z-index: 800;
  max-width: 960px;
  width: 70%;
  color: #eb7e7f;
  font-weight: 700;
  font-size: 1em;
  opacity: 0;
  -webkit-transform: translate3d(-50%, -5px, 0);
  transform: translate3d(-50%, -5px, 0); }

.fs-message-error.fs-show {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

/* Animation classes & animations */
.fs-form li.fs-current {
  visibility: visible; }

.fs-form li.fs-hide,
.fs-form li.fs-show {
  pointer-events: none; }

/* Hide current li when navigating to next question */
.fs-form .fs-display-next .fs-hide {
  visibility: visible; }

.fs-form .fs-display-next .fs-hide .fs-anim-lower,
.fs-form .fs-display-next .fs-hide .fs-anim-upper {
  -webkit-animation: animHideNext 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animHideNext 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

.fs-form .fs-display-next .fs-hide .fs-anim-lower {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

@-webkit-keyframes animHideNext {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0); } }
@keyframes animHideNext {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0); } }
/* Show new li when navigating to next question */
.fs-form .fs-display-next .fs-show .fs-anim-lower,
.fs-form .fs-display-next .fs-show .fs-anim-upper {
  -webkit-animation: animShowNext 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s;
  animation: animShowNext 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s; }

.fs-form .fs-display-next .fs-show .fs-anim-lower {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

@-webkit-keyframes animShowNext {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0); } }
@keyframes animShowNext {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0); } }
/* Hide current li when navigating to previous question */
.fs-form .fs-display-prev .fs-hide {
  visibility: visible; }

.fs-form .fs-display-prev .fs-hide .fs-anim-lower,
.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
  -webkit-animation: animHidePrev 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: animHidePrev 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards; }

.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

@-webkit-keyframes animHidePrev {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0); } }
@keyframes animHidePrev {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0); } }
/* Show new li when navigating to previous question */
.fs-form .fs-display-prev .fs-show .fs-anim-lower,
.fs-form .fs-display-prev .fs-show .fs-anim-upper {
  -webkit-animation: animShowPrev 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s;
  animation: animShowPrev 0.5s cubic-bezier(0.7, 0, 0.3, 1) both 0.15s; }

.fs-form .fs-display-prev .fs-show .fs-anim-upper {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

@-webkit-keyframes animShowPrev {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0); } }
@keyframes animShowPrev {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0); } }
/* Remove IE clear cross */
input[type=text]::-ms-clear {
  display: none; }

/* Adjust form for smaller screens */
@media screen and (max-width: 52.5em) {
  body {
    min-height: 500px; }

  .fs-form-wrap {
    font-size: 70%; }

  .fs-form {
    top: 6em;
    right: 2em;
    left: 0;
    padding: 0 3.75em 0 1em;
    width: auto;
    font-size: 2em; }

  .fs-form.fs-form-overview {
    top: 0;
    right: 0;
    padding: 1.5em 1em 8em 1em;
    font-size: 1.5em; }

  .fs-title {
    padding: 20px; }

  .fs-numbers {
    margin: 20px; }

  .fs-nav-dots {
    right: 25px; }

  button.fs-continue {
    right: 20px;
    bottom: 20px;
    margin: 0;
    padding: 50px 0 0 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2em; }

  button.fs-continue::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '\27A1';
    text-align: center;
    font-size: 1em;
    line-height: 50px; }

  .fs-continue::after {
    content: ''; }

  button.fs-submit {
    width: 100%;
    font-size: 1.25em; }

  .fs-message-error {
    bottom: 1.75em;
    left: 0;
    padding: 0 90px 0 2em;
    width: 100%;
    font-size: 1.5em;
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }

  .fs-message-error.fs-show {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@media (max-width: 640px) {
  button.fs-continue {
    bottom: 350px; }

  .fs-form.fs-form-overview {
    padding: 4.5em 1em 33em 1em; } }
/* cs-select*/
/* Default custom select styles */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.cs-select:focus {
  outline: none;
  /* For better accessibility add a style for this in your skin */ }

.cs-select select {
  display: none; }

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/* Placeholder and selected option */
.cs-select > span {
  padding-right: 3em; }

.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cs-select > span::after {
  content: '\25BE';
  right: 1em; }

.cs-select .cs-selected span::after {
  content: '\2713';
  margin-left: 1em; }

.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden;
  z-index: 10000; }

.cs-select.cs-active .cs-options {
  visibility: visible; }

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.cs-select ul span {
  padding: 1em; }

.cs-select ul li.cs-focus span {
  background-color: #ddd; }

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em; }

.cs-select li.cs-optgroup > span {
  cursor: default; }

/* skin boxes*/
/* Custom select skin: fullscreen color picker (adjusted for fullscreen form) */
div.cs-skin-boxes {
  background: transparent;
  font-size: 0.65em;
  font-weight: 700;
  max-width: 300px;
  z-index: 2000;
  color: #fff; }

@media screen and (max-width: 30em) {
  div.cs-skin-boxes {
    font-size: 1em; } }
.cs-skin-boxes > span {
  border: 3px solid #292c30;
  border-radius: 5px;
  width: 150px;
  height: 140px;
  font-size: 0.5em;
  padding: 0 0 0 10px;
  background: #555b64; }

div.cs-skin-boxes:focus > span {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1); }

.cs-skin-boxes > span::before {
  content: '';
  display: block;
  padding-top: 110px;
  margin-left: -10px;
  box-shadow: 0 25px 0 #292c30, inset 0 -10px #292c30; }

.cs-skin-boxes > span::after,
.cs-skin-boxes.cs-active > span::after {
  top: auto;
  -webkit-transform: none;
  transform: none; }

.cs-skin-boxes .cs-options {
  position: fixed;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background: #3b3f45;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s; }

@media (max-width: 1000px) {
  .cs-skin-boxes .cs-options {
    padding-top: 30px;
    height: 80%; } }
.cs-skin-boxes.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.cs-skin-boxes .cs-options ul {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 90px 10px; }

.cs-skin-boxes .cs-options li {
  width: 20%;
  height: 25%;
  float: left;
  position: relative;
  cursor: pointer;
  border-radius: 14px;
  overflow: hidden;
  opacity: 0;
  color: rgba(255, 255, 255, 0.6);
  border: 10px solid transparent;
  background-clip: padding-box;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  box-shadow: inset 0 -6em 0 -2em #282b30, inset 0 -1px 1px #000;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s; }

@media screen and (max-width: 30em) {
  .cs-skin-boxes .cs-options li {
    box-shadow: none;
    border-width: 3px;
    border-radius: 8px; } }
.cs-skin-boxes.cs-active .cs-options li {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.cs-skin-boxes.cs-active .cs-options li:nth-child(2) {
  -webkit-transition-delay: 0.01s;
  transition-delay: 0.01s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(3) {
  -webkit-transition-delay: 0.02s;
  transition-delay: 0.02s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(4) {
  -webkit-transition-delay: 0.03s;
  transition-delay: 0.03s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(5) {
  -webkit-transition-delay: 0.04s;
  transition-delay: 0.04s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(6) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(7) {
  -webkit-transition-delay: 0.06s;
  transition-delay: 0.06s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(8) {
  -webkit-transition-delay: 0.07s;
  transition-delay: 0.07s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(9) {
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(10) {
  -webkit-transition-delay: 0.09s;
  transition-delay: 0.09s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(11) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(12) {
  -webkit-transition-delay: 0.11s;
  transition-delay: 0.11s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(13) {
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(14) {
  -webkit-transition-delay: 0.13s;
  transition-delay: 0.13s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(15) {
  -webkit-transition-delay: 0.14s;
  transition-delay: 0.14s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(16) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(17) {
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(18) {
  -webkit-transition-delay: 0.17s;
  transition-delay: 0.17s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(19) {
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s; }

.cs-skin-boxes.cs-active .cs-options li:nth-child(20) {
  -webkit-transition-delay: 0.19s;
  transition-delay: 0.19s; }

.cs-skin-boxes .cs-options li.cs-selected::after {
  content: '\2714';
  color: rgba(17, 226, 20, 0.67);
  border: 2px solid #8dc700;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.73);
  padding: 2px 3px;
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) translate3d(0, -1em, 0);
  transform: translate3d(-50%, -50%, 0) translate3d(0, -1em, 0); }

.cs-skin-boxes .cs-options li.cs-selected span::after {
  content: ''; }

@media screen and (max-width: 30em) {
  .cs-skin-boxes .cs-options li.cs-selected::after {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); } }
.cs-skin-boxes .cs-options li {
  background-size: 38%;
  background-position: center 30%;
  background-repeat: no-repeat; }

.cs-placeholder {
  background-position: center 30% !important;
  background-size: 95% !important;
  background-repeat: no-repeat !important; }

.cs-skin-boxes .cs-options li.industry-ad {
  background-color: #588c75;
  background-image: url("../img/contactIcons/ad.png"); }

.cs-skin-boxes .cs-options li.industry-apparel {
  background-color: #b0c47f;
  background-image: url("../img/contactIcons/apparel.png"); }

.cs-skin-boxes .cs-options li.industry-beauty {
  background-color: #F395D5;
  background-image: url("../img/contactIcons/beauty.png"); }

.cs-skin-boxes .cs-options li.industry-consulting {
  background-color: #f3ae73;
  background-image: url("../img/contactIcons/consulting.png"); }

.cs-skin-boxes .cs-options li.industry-defence {
  background-color: #E8994B;
  background-image: url("../img/contactIcons/defence.png"); }

.cs-skin-boxes .cs-options li.industry-education {
  background-color: #FFF6D0;
  background-image: url("../img/contactIcons/education.png"); }

.cs-skin-boxes .cs-options li.industry-energy {
  background-color: #FFFD3D;
  background-image: url("../img/contactIcons/energy.png"); }

.cs-skin-boxes .cs-options li.industry-entertainment {
  background-color: #62ECE6;
  background-image: url("../img/contactIcons/entertainment.png"); }

.cs-skin-boxes .cs-options li.industry-financial {
  background-color: #ADF58F;
  background-image: url("../img/contactIcons/financial.png"); }

.cs-skin-boxes .cs-options li.industry-food {
  background-color: #D25A45;
  background-image: url("../img/contactIcons/food.png"); }

.cs-skin-boxes .cs-options li.industry-health {
  background-color: #FF3F3F;
  background-image: url("../img/contactIcons/health.png"); }

.cs-skin-boxes .cs-options li.industry-legal {
  background-color: #B6914E;
  background-image: url("../img/contactIcons/legal.png"); }

.cs-skin-boxes .cs-options li.industry-manufacturing {
  background-color: #f9eec0;
  background-image: url("../img/contactIcons/manufacturing.png"); }

.cs-skin-boxes .cs-options li.industry-mechanical {
  background-color: #F7C7A9;
  background-image: url("../img/contactIcons/mechanical.png"); }

.cs-skin-boxes .cs-options li.industry-video {
  background-color: #525BFF;
  background-image: url("../img/contactIcons/video.png"); }

.cs-skin-boxes .cs-options li.industry-realEstate {
  background-color: #F2D255;
  background-image: url("../img/contactIcons/realEstate.png"); }

.cs-skin-boxes .cs-options li.industry-retail {
  background-color: #BBDB4D;
  background-image: url("../img/contactIcons/retail.png"); }

.cs-skin-boxes .cs-options li.industry-services {
  background-color: #faf4d4;
  background-image: url("../img/contactIcons/services.png"); }

.cs-skin-boxes .cs-options li.industry-sports {
  background-color: #FFBF33;
  background-image: url("../img/contactIcons/sports.png"); }

.cs-skin-boxes .cs-options li.industry-hardwareSoftware {
  background-color: #BDF1F1;
  background-image: url("../img/contactIcons/hardwareSoftware.png"); }

.cs-skin-boxes .cs-options span {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 2em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px; }

@media screen and (max-width: 30em) {
  .cs-skin-boxes .cs-options span {
    display: none; } }
.cs-skin-boxes .cs-options li span:hover,
.cs-skin-boxes li.cs-focus span,
.cs-skin-boxes li.cs-selected span {
  color: #fff; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

#work {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 101;
  overflow-y: auto;
  background-color: white; }

.grid {
  position: relative;
  display: table;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: none;
  list-style: none;
  text-align: center; }

/* Common style */
.grid figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 31.33%;
  background: #3085a3;
  text-align: center;
  cursor: pointer; }

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8; }

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

/*-----------------*/
/** Work Buckets **/
/*---------------*/
figure.work-bucket {
  background: #42b078; }

figure.work-bucket img {
  max-width: none;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

figure.work-bucket:hover img {
  opacity: 0.4;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.work-bucket figcaption {
  text-align: left; }

figure.work-bucket h2 {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0; }

figure.work-bucket h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

figure.work-bucket:hover h2::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.work-bucket p {
  padding: 1em 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

figure.work-bucket:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center; }

  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%; } }
