#site-intro{
	.introTitleCover{
		position: absolute;
		margin-top:445px;
		width:100%;
		height:100px;
		z-index: 6;
		background-color: black;
	}
	.introSubTitleCover{
		position: absolute;
		margin-top:445px;
		width:100%;
		height:100px;
		z-index: 4;
		background-color: black;
	}
	.sub-title{
		position: absolute;
		display: none;
		font-size: 30px;
		color:#6b6a6a;
		opacity: 0;
		z-index: 3;
	}
	.horizontal-line{
		position:absolute;
		display: none;
		width:0%;
		height:2px;
		background-color: white;
		z-index: 7;
	}
	.intro-veil{
		position: fixed;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background-color: black;
		z-index: 2;
	}
}