//dimensions
$top-distance:200px;


@mixin bg-gradient-work(){
	background: #26262d; /* Old browsers */
	background: -moz-linear-gradient(25deg,  #26262d 50%, #292930 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(50%,#26262d), color-stop(50%,#292930)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(25deg,  #26262d 50%,#292930 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(25deg,  #26262d 50%,#292930 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(25deg,  #26262d 50%,#292930 50%); /* IE10+ */
	background: linear-gradient(25deg,  #26262d 50%,#292930 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26262d', endColorstr='#292930',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin transition($value){
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	-o-transition: $value;
	transition: $value;
}